In [5]:
%load_ext sql

In [13]:
import configparser

config = configparser.ConfigParser()
config.read('dwh.cfg')

'dwhsparkifyuser'

In [17]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(config['CLUSTER']['DB_USER'], config['CLUSTER']['DB_PASSWORD'], config['CLUSTER']['HOST'], config['CLUSTER']['DB_PORT'],config['CLUSTER']['DB_NAME'])
print(conn_string)
%sql $conn_string

postgresql://dwhsparkifyuser:sparky1TheaRky@dwhsparkifycluster.cetcsw4uxevp.eu-west-2.redshift.amazonaws.com:5439/dwhsparkify

'Connected: dwhsparkifyuser@dwhsparkify'

# Most prolific users

In [24]:
%%sql

SELECT u.user_id
, u.first_name
, u.last_name
, COUNT(sp.songplay_id) songplay_count
FROM songplays sp
JOIN users u
ON u.user_id = sp.user_id
GROUP BY u.user_id
, u.first_name
, u.last_name
ORDER BY songplay_count DESC
LIMIT 10;

 * postgresql://dwhsparkifyuser:***@dwhsparkifycluster.cetcsw4uxevp.eu-west-2.redshift.amazonaws.com:5439/dwhsparkify
10 rows affected.

[(49, 'Chloe', 'Cuevas', 42),
 (97, 'Kate', 'Harrell', 32),
 (80, 'Tegan', 'Levine', 31),
 (44, 'Aleena', 'Kirby', 21),
 (73, 'Jacob', 'Klein', 18),
 (88, 'Mohammad', 'Rodriguez', 17),
 (15, 'Lily', 'Koch', 15),
 (36, 'Matthew', 'Jones', 13),
 (29, 'Jacqueline', 'Lynch', 13),
 (24, 'Layla', 'Griffin', 13)]

# Top 10 most played artists

In [26]:
%%sql

SELECT a.name
, COUNT(sp.songplay_id) songplay_count
FROM songplays sp
JOIN artists a
ON a.artist_id = sp.artist_id
GROUP BY a.name
ORDER BY songplay_count DESC
LIMIT 10;

 * postgresql://dwhsparkifyuser:***@dwhsparkifycluster.cetcsw4uxevp.eu-west-2.redshift.amazonaws.com:5439/dwhsparkify
10 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi / Kanye West / Common', 10),
 ('Kid Cudi', 10),
 ('Ron Carter', 9),
 ('Lonnie Gordon', 9),
 ('B.o.B', 8),
 ('Usher', 6),
 ('Muse', 6),
 ('Usher featuring Jermaine Dupri', 6),
 ('Richard Hawley And Death Ramps_ Arctic Monkeys', 5)]

# Most popular songs by artist

In [30]:
%%sql

SELECT a.name
, s.title
, COUNT(sp.songplay_id) songplay_count
FROM songplays sp
JOIN artists a
ON a.artist_id = sp.artist_id
JOIN songs s
ON s.song_id = sp.song_id
GROUP BY a.name
, s.title
ORDER BY songplay_count DESC
LIMIT 10;

 * postgresql://dwhsparkifyuser:***@dwhsparkifycluster.cetcsw4uxevp.eu-west-2.redshift.amazonaws.com:5439/dwhsparkify
10 rows affected.

[('Dwight Yoakam', "You're The One", 37),
 ('Ron Carter', "I CAN'T GET STARTED", 9),
 ('Lonnie Gordon', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ('B.o.B', "Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ('Usher featuring Jermaine Dupri', "Hey Daddy (Daddy's Home)", 6),
 ('Usher', "Hey Daddy (Daddy's Home)", 6),
 ('Kid Cudi / Kanye West / Common', 'Make Her Say', 5),
 ('Kid Cudi', 'Up Up & Away', 5),
 ('Kid Cudi', 'Make Her Say', 5),
 ('Kid Cudi / Kanye West / Common', 'Up Up & Away', 5)]